.card {
  width: 100%;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 4%;
  padding-bottom: 2%;
  background-color: #393e46;
  padding-bottom: 2.8%;
  color: white;
}

.courseDetailLink {
  color: white;
  text-decoration: none;
}
